<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basket</title>
    <link rel="stylesheet" href="css/stylesheet.css" />
  </head>
  <body>
    <main class="wrapper">
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="basket.html">Basket</a></li>
          </ul>
        </nav>

      <h1 class="title">Basket</h1>
      <h2 class="title">Added products</h3>

        <section class="basket-products">   
        </section>

      <footer>
        <p>Footer &copy;</p>
      </footer>
    </main>
    
    <script src="js/basket.js"></script>
  </body>
</html>
