<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="css/stylesheet.css" />
  </head>
  <body>
    <main class="wrapper">
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="basket.html">Basket</a></li>
          </ul>
        </nav>

      <h1 class="title">Products</h1>
        <section class="products">
          <h2 class="title">Image</h3>
          <h2 class="title">Product Name</h3>
          <h2 class="title">Price</h3>
          <h2 class="title">Add</h3>
        </section>

      <footer>
        <p>Footer &copy;</p>
      </footer>
    </main>

    <script src="js/index.js"></script>
  </body>
</html>
